<a href="https://colab.research.google.com/github/shaheennamboori/ARFF_to_CSV_converter/blob/master/ARFF_to_CSV_converter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load the ARFF file to be converted to CSV

In [0]:
from scipy.io import arff
import pandas as pd
import numpy as np
from time import time
from IPython.display import display

%matplotlib inline

In [2]:
data = arff.loadarff('Autism-Adult-Data.arff')
df = pd.DataFrame(data[0])
display(df.head(n=5))

  A1_Score A2_Score A3_Score  ...        age_desc   relation Class/ASD
0     b'1'     b'1'     b'1'  ...  b'18 and more'    b'Self'     b'NO'
1     b'1'     b'1'     b'0'  ...  b'18 and more'    b'Self'     b'NO'
2     b'1'     b'1'     b'0'  ...  b'18 and more'  b'Parent'    b'YES'
3     b'1'     b'1'     b'0'  ...  b'18 and more'    b'Self'     b'NO'
4     b'1'     b'0'     b'0'  ...  b'18 and more'       b'?'     b'NO'

[5 rows x 21 columns]

# ARFF file is loaded into the dataframe which can be eaily saved as CSV using 
df.to_csv('file_name.csv',index = False)
**But let's do something regarding the appearance of b in the data.**

In [0]:
i=-1

In [8]:
#Run this cell multiple times until you get index out of bound error

i+=1
while(i<100):
  df.iloc[:,i] = df.iloc[:,i].str.decode('utf-8')
  i+=1

IndexError: ignored

# **Lets see the clean data after running the above cell multiple times until you get index out of bound error.**

In [9]:
display(df.head(n=5))

  A1_Score A2_Score A3_Score A4_Score  ... result     age_desc relation Class/ASD
0        1        1        1        1  ...    6.0  18 and more     Self        NO
1        1        1        0        1  ...    5.0  18 and more     Self        NO
2        1        1        0        1  ...    8.0  18 and more   Parent       YES
3        1        1        0        1  ...    6.0  18 and more     Self        NO
4        1        0        0        0  ...    2.0  18 and more        ?        NO

[5 rows x 21 columns]

# Let's save the dataframe as CSV

In [0]:
df.to_csv('Autism-Adult_Data.csv',index=False)